   h1{ background-color: aqua;
    text-align: center;
}
form{
    background-color:pink; border: 5px solid red; padding: 20px;
} 
h1{
    text-transform: capitalize;
     text-align: center;
     
}
p{
    text-align: justify;
    text-indent: 200px;
    word-spacing: 10px;
    letter-spacing: 5px;
    line-height: 30px;
}
ul{
    list-style-type:none;
}
li{
    border: 2px solid rebeccapurple;
display: inline;
}
a{
    display: block;
}


